
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>LogIn</title>
</head>
<body>
    <div class="container"> 
        <form method="post">
            
            <div class="form-group">
                <h3>Log In</h3>
 
                <div class="col-md-4">
                    <input type="text" placeholder="Email" name="Email" />
                    </br><br />
                    <input type="password" placeholder="Password" name="Password" /><br />
                    <br />
                    <input type="submit" name="submit" class="btn-primary" />
                </div>
            </div>
        </form>
    </div>
    <script src="Scripts/jquery-3.0.0.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
</body>
</html>
