@model List<ProjectRepository.RentAd>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div> 
        
        @Html.ActionLink("Log In", "LogIn", "User")
        @Html.ActionLink("Signup", "Create", "User")

    </div>
    <div class="container">
        <h3>House Rent Advertisements</h3>
        @foreach (ProjectRepository.RentAd r in Model)
        {
            <div class="jumbotron">
                
                <a href="@Url.Action("Detail","Rent", new {id=r.RentId })">HouseNo: @r.HouseNo  RoadNo:@r.RoadNo Area :@r.Area</a><br />
            </div>
        }
    </div>
    <script src="Scripts/jquery-3.0.0.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
</body>
</html>
